*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --converter1: rgb(140, 0, 255);
    --converter2: rgb(34, 73, 131);
    --converter3: rgb(36, 112, 36);
    --converter4: rgb(165, 41, 78);
    --converter5: rgb(192, 91, 24);
    --converter6: rgb(228, 210, 55);
    --converter7: rgb(189, 63, 161);
}


body{
    background: slateblue;
}










.btn[data-js="converter1"].active{  background: var(--converter1);  }
.btn[data-js="converter1"].active:hover{  background: var(--converter1);  }

.btn[data-js="converter2"].active{  background: var(--converter2);  }
.btn[data-js="converter2"].active:hover{  background: var(--converter2);  }

.btn[data-js="converter3"].active{  background: var(--converter3);  }
.btn[data-js="converter3"].active:hover{  background: var(--converter3);  }

.btn[data-js="converter4"].active{  background: var(--converter4);  }
.btn[data-js="converter4"].active:hover{  background: var(--converter4);  }

.btn[data-js="converter5"].active{  background: var(--converter5);  }
.btn[data-js="converter5"].active:hover{  background: var(--converter5);  }

.btn[data-js="converter6"].active{  background: var(--converter6);  }
.btn[data-js="converter6"].active:hover{  background: var(--converter6);  }

.btn[data-js="converter7"].active{  background: var(--converter7);  }
.btn[data-js="converter7"].active:hover{  background: var(--converter7);  }



.panel[data-js="converter1"]{  background-color: var(--converter1); }
.panel[data-js="converter2"]{  background-color: var(--converter2); }
.panel[data-js="converter3"]{  background-color: var(--converter3); }
.panel[data-js="converter4"]{  background-color: var(--converter4); }
.panel[data-js="converter5"]{  background-color: var(--converter5); }
.panel[data-js="converter6"]{  background-color: var(--converter6); }
.panel[data-js="converter7"]{  background-color: var(--converter7); }